<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript">
			function showMessage(){
				alert("Thanks for reaching ou to us, we will get back to you shortly.");
			}
		</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>
    <link rel="stylesheet" href="../static/css/homepage_style2.css" />
    <link href="../static/css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
    <link href="../static/css/Contact Us.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>

                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>

                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>

                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->
    <!--
    <div class="logoimage">
        <img src="images/button_header.png"
    </div>
    -->
    

<div class="top-header">
  <div class="mx-auto" > <img src="static/css/images/top_header.png" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" >
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "/" >NULLLLLL</button>
    <img src="static/css/images/button_header.png" alt="Responsive image" class="img-fluid" ></div>
</div>
<div class="wrapper1">
  <nav>
    <ul class="top_nav_items">
      <li> <a href="searchresults">PRE-OWNED</a></li>
      <li> <a href="about">ABOUT US</a></li>
      <li> <a href="contact">CONTACT US</a></li>
      <li> <a href="searchresults">FAVORITES</a></li>
      <li> <a href="login">LOGIN</a></li>
      <li> <a href="signup">SIGN UP</a></li>
    </ul>
  </nav>
</div>

<div class="nav2-container">
 <div class="contactUsTitle"> <strong>Reach Out To Us!</strong></div>
  <form class="form-horizontal">
    <div class="form-group col-md-8 col-5 col-sm-7 col-xl-8">
      <label for="inputEmail6" class="col-sm-2 control-label">Name:</label>
      <div class="col-sm-10">
        <input type="Name:" class="form-control" id="inputEmail2" placeholder="Name">
      </div>
    </div>
    <div class="form-group col-md-8 col-5 col-sm-7 col-xl-8">
      <label for="inputEmail4" class="col-sm-2 control-label">Phone:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail4" placeholder="Phone">
      </div>
    </div>
    <div class="form-group col-md-8 col-5 col-sm-7 col-xl-8">
      <label for="inputEmail5" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail5" placeholder="Email">
      </div>
    </div>
    <div class="form-group col-md-8 col-5 col-sm-7 col-xl-9">
      <label for="inputPassword2" class="col-sm-2 control-label">Message:</label>
      <div class="col-sm-10 col-md-11">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Message">
      </div>
    </div>
<div class="form-group col-xl-7 col-md-8 col-5 col-sm-7">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" onClick= 'showMessage()'>Submit<br>
        </button>
      </div>
    </div>
  </form>
  <div class="wrapper"></div>
</div>
<footer class="text-left text-lg-start fixed-bottom" id="footer-style">
  <div class="container p-4" id="footer-container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 col-xl-4 col-lg-4" id="footer-text">
        <h5 class="text-uppercase" id="department-title" style="font-size: 26px;font-weight: bold;line-height: 42px;">Department Hours</h5>
        <p style="font-size: 12px;" id="address-text"> 5500 University Pkwy, San Bernardino,CA 92407 </p>
        <p style="font-size: 12px;" id="address-text"> Sales: 9am-9pm Monday-Friday </p>
        <p style="font-size: 12px;" id="address-text"> Service: 7am-5pm Closed Sunday </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color: #F2F2F2;">
        <h5 class="text-uppercase3" id="links-title" style="font-size: 1.3rem; margin: auto;">Site Map</h5>
        <ul class="list-unstyled mb-0" id="links">
          <li class="col-xl-7"> <a href="#!" style="color: #F2F2F2;">About Us</a></li>
          <li class="col-xl-7"> <a href="#!" style="color: #F2F2F2;">Contact Us</a></li>
          <li class="col-xl-7"> <a href="#!"style="color: #F2F2F2;">Location</a></li>
          <li class="col-xl-7"> <a href="#!"style="color: #F2F2F2;">Favorites</a></li>
        </ul>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 col-lg-2" style="color: #F2F2F2;">
        <h5 class="text-uppercase"  id="quick-links-title">Quick Links</h5>
        <ul class="list-unstyled mb-0" id="quick-links">
          <li class="col-xl-10 col-lg-10"> <a href="#!" style="color: #F2F2F2;">All Cars</a></li>
          <li class="col-xl-10 col-lg-12"> <a href="#!" style="color: #F2F2F2;">Schedule Service</a></li>
          <li class="col-xl-10 col-lg-10"> <a href="#!"style="color: #F2F2F2;">Coupons</a></li>
          <li class="col-xl-10 col-lg-10"> <a href="#!"style="color: #F2F2F2;">Deals</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h5 class="text-uppercase1"  id="quick-links-title2">FOLLOW US</h5>
        <div class="sociallogo">
          <input type="image" src="static/css/images/face_logo.svg" />
          <input type="image" src="static/css/images/twitter_logo.svg" />
          <input type="image" src="static/css/images/ig_logo.svg" />
          <input type="image" src="static/css/images/you_logo.svg" />
        </div>
        &nbsp;</div>
    </div>
  </div>
  </div>
</footer>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.3.1.js"></script>
</body>
</html>
