<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>

 <link rel="stylesheet" href="homepage_style2.css" />
	<link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="static/css/SearchResults.css" rel="stylesheet" type="text/css">
	<link href="SearchResults.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>
                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>
                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>
                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->
    <!--
    <div class="logoimage">
        <img src="images/button_header.png"
    </div>
    -->
 






<div class="top-header">
  <div class="mx-auto" > <img src="static/css/images/top_header.png" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" >
     <a href="/">
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "homepage" >NULLLLLL</button>
	  </a>
    <img src="static/css/images/button_header.png" alt="Responsive image" class="img-fluid" ></div>
</div>
<div class="wrapper1">
  <nav>
    <ul class="top_nav_items">
      <li> <a href="searchresults">PRE-OWNED</a></li>
      <li> <a href="about">ABOUT US</a></li>
      <li> <a href="contact">CONTACT US</a></li>
      <li> <a href="favorites">FAVORITES</a></li>
    <li> <a href="/">HOME</a></li>
      <li class="loggedInUser"> <p> Welcome! {{ homepageusername }}</p></li>
    </ul>
  </nav>
</div>

<div class="nav2-container">
           
  <div class="wrapper"> </div>
  <div class="page-content">
    <div class="listingContainer col-lg-11">
      <div class="body-headers">
        <div class="palette-bg2 inventory-header">
          <div>
            <div class="clearfix col-lg-11 offset-lg-1">
              <div class="pull-left" style="padding-right: 8px; line-height: 28px;"><b>Search Options:</b></div>
              <div class="pull-left">
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle btn-default" data-toggle="dropdown"> Body Style <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="searchresults/hatchbacks" >Hatchback</a></li>
			  <li><a href="searchresults/sedans" title="Body Style: Sedan">Sedan </a></li>
			  <li><a href="searchresults/convertables" title="Body Style: Convertable">Convertable </a></li>
			  <li><a href="searchresults/coupes" title="Body Style: Coupes">Coupe</a></li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false" > Make <span class="caret"></span></button>
                  <ul class="dropdown-menu" >
                    <li><a href="url_for('searchresults/nissan')" >Nissan</a></li>
			<li><a href="searchresults/kia" >Kia</a></li> 
			  <li><a href="searchresults/honda" >Honda</a></li>
			  <li><a href="searchresults/Volkswagon" >Volkswagon</a></li>
			  <li><a href="searchresults/toyota" >Chevrolet</a></li> 
			  <li><a href="searchresults/ford" >Ford</a></li> 
			  <li><a href="searchresults/lamborghini" >Lamborghini</a></li> 
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" > Model <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="searchresults/nissan/sentra">Sentra</a></li>
			  <li><a href="searchresults/kia/optima">Optima</a></li>
			  <li><a href="searchresults/honda/crz">CRZ</a></li>
			  <li><a href="searchresults/honda/accord">Accord</a></li>
			  <li><a href="searchresults/volkswagon/jetta">Jetta</a></li>
			  <li><a href="searchresults/toyota/auris">Auris</a></li>
			  <li><a href="searchresults/volkswagon/beetle">Beetle</a></li>
			  <li><a href="searchresults/toyota/corolla">Corolla</a></li>
			  <li><a href="searchresults/chevrolet/malibu">Malibu</a></li>
			  <li><a href="searchresults/honda/civic">Civic</a></li>
			  <li><a href="searchresults/ford/taurus">Taurus</a></li>
			  <li><a href="searchresults/ford/mustang">Mustang</a></li>
			  <li><a href="searchresults/chevrolet/cruze">Cruze</a></li>
			  <li><a href="searchresults/chevrolet/volt">Volt</a></li>
			  <li><a href="searchresults/ford/fiesta">Fiesta</a></li>
			  <li><a href="searchresults/ford/focus">Focus</a></li>
			  <li><a href="searchresults/kia/soul">Soul</a></li>
			  <li><a href="searchresults/nissan/juke">Juke</a></li>
			  <li><a href="searchresults/lamborghini/aventador">aventador</a></li>
			  <li><a href="searchresults/toyota/yaris">Yaris</a></li>
			  <li><a href="searchresults/toyota/prius">Prius</a></li>
			  <li><a href="searchresults/toyota/camry">Camry</a></li>
			  
                  </ul>
		      </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Price <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="searchresults/price/8000" title="Price: Under $8,000">Under $8,000</a></li>
			  <li><a href="searchresults/price/15000" title="Price: Under $15,000">Under $15,000</a></li>
			  <li><a href="searchresults/price/20000" title="Price: Under $20,000">Under $20,000</a></li>
			  <li><a href="searchresults/price/25000" title="Price: Under $25,000">Under $25,000</a></li>
                  </ul>
                </div>
               

                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Exterior Color <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="searchresults/black" title="Exterior Color: Black">Black </a></li>
                    <li><a href="searchresults/blue" title="Exterior Color: Blue">Blue </a></li>
                    <li><a href="searchresults/grey" title="Exterior Color: Gray">Gray </a></li>
                    <li><a href="searchresults/silver" title="Exterior Color: Silver">Silver </a></li>
                    <li><a href="searchresults/white" title="Exterior Color: White">White </a></li>
			<li><a href="searchresults/green" title="Exterior Color: Green">Green </a></li>
			<li><a href="searchresults/red" title="Exterior Color: Red">Red </a></li>
                  </ul>
                </div>
                

                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Miles <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="searchresults/miles/35000" title="Miles: Under 35,000">Under 35,000 </a></li>
                    <li><a href="searchresults/miles/40000" title="Miles: Under 40,000">Under 40,000 </a></li>
			<li><a href="searchresults/miles/50000" title="Miles: Under 50,000">Under 50,000 </a></li>
			<li><a href="searchresults/miles/65000" title="Miles: Under 65,000">Under 65,000 </a></li>
			<li><a href="searchresults/miles/75000" title="Miles: Under 75,000">Under 75,000 </a></li>
			
                    
                  </ul>
                </div>
                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

  }
}
      </style>
              </div>
            </div>
          </div>
        </div>
        <div class="palette-bg2 inventory-header vehicles-found-header">
          <div class="clearfix">
            <div class="pull-left" style="padding: 4px 0; margin-right: 20px;">
              <div style="font: bold 16px/24px arial, sans-serif;"> <span class="accent-color1" style="font-size: 24px;"> {{numRows}}</span> Vehicles
                Found </div>
            </div>
            <div class="pull-right clearfix">
             
              <div class="pull-left" style="padding: 4px 0; margin-right: 10px;"> </div>
              <div class="pull-left" style="padding: 4px 4px; margin-right: 20px;">
                <form id="frmSwitchStyle" method="post">
                  <input type="hidden" name="xAction" value="SwitchStyles">
                  <input type="hidden" name="xStyle" value="">
                  <button id="Submit_Search" onclick="SwitchStyle();" class="btn btn-default" title="Search"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </form>
              </div>
            </div>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
    </div>
	<table>
  <thead>
    <tr>
        <th>VIN</th>
        <th>Make</th>
        <th>Model</th>
		<th>Year</th>
		<th>Color</th>
		<th>Mileage</th>
		<th>Price</th>
		<th>Our Price</th>
		<th>Transmission</th>
		<th>Body Style</th>
		<th>Image</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
				<td>{{row[3]}}</td>
				<td>{{row[4]}}</td>
				<td>{{row[5]}}</td>
				<td>{{row[6]}}</td>
				<td>{{row[7]}}</td>
				<td>{{row[8]}}</td>
				<td>{{row[9]}}</td>
				<td class = "imageBox"><img src="{{row[10]}}" alt="Vehicle Image" class = "vehicleImage"></td>
				
            </tr>
        {% endfor %}
    </tbody>
</table>
    &nbsp;</div>
<footer class="text-left text-lg-start fixed-bottom" id="footer-style">
  <div class="container p-4" id="footer-container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 col-xl-4 col-lg-4" id="footer-text">
        <h5 class="text-uppercase" id="department-title" style="font-size: 26px;font-weight: bold;line-height: 42px;">Department Hours</h5>
        <p style="font-size: 12px;" id="address-text"> 5500 University Pkwy, San Bernardino,CA 92407 </p>
        <p style="font-size: 12px;" id="address-text"> Sales: 9am-9pm Monday-Friday </p>
        <p style="font-size: 12px;" id="address-text"> Service: 7am-5pm Closed Sunday </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color: #F2F2F2;">
        <h5 class="text-uppercase3" id="links-title">Site Map</h5>
        <ul class="list-unstyled mb-0" id="links">
         <li class="col-xl-7">
                    <a href="about" style="color: #F2F2F2;">About Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="contact" style="color: #F2F2F2;">Contact Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="https://www.google.com/maps/place/California+State+University,+San+Bernardino/@34.1813628,-117.3253762,17z/data=!3m1!4b1!4m5!3m4!1s0x80c3519b1645c8d7:0xfac142d2f0f47922!8m2!3d34.1813584!4d-117.3231875"style="color: #F2F2F2;">Location</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="searchresults"style="color: #F2F2F2;">Favorites</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 col-lg-2" style="color: #F2F2F2;">
        <h5 class="text-uppercase"  id="quick-links-title">Quick Links</h5>
        <ul class="list-unstyled mb-0" id="quick-links">
           <li class="col-xl-7">
                  <ul class="list-unstyled mb-0" id="quick-links">
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!" style="color: #F2F2F2;">All Cars</a>
                  </li>
                  <li class="col-xl-10 col-lg-12">
                    <a href="#!" style="color: #F2F2F2;">Schedule Service</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Coupons</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Deals</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h5 class="text-uppercase1"  id="quick-links-title2">FOLLOW US</h5>
        <div class="sociallogo">
          <a href="https://www.classtools.net/FB/1744-VU8bbC">
          		<input type="image" href="facebook" src="../static/css/images/face_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/twitter_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/ig_logo.svg" />
			</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/you_logo.svg" />
			</a>
        </div>
        &nbsp;</div>
    </div>
  </div>
  </div>
</footer>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->

</body>
</html>
