﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>

 <link rel="stylesheet" href="homepage_style2.css" />
	<link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="static/css/SearchResults.css" rel="stylesheet" type="text/css">
	<link href="SearchResults.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>
                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>
                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>
                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->
    <!--
    <div class="logoimage">
        <img src="images/button_header.png"
    </div>
    -->
 






<div class="top-header">
  <div class="mx-auto" > <img src="static/css/images/top_header.png" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" >
     <a href="/">
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "homepage" >NULLLLLL</button>
	  </a>
    <img src="static/css/images/button_header.png" alt="Responsive image" class="img-fluid" ></div>
</div>
<div class="wrapper1">
  <nav>
    <ul class="top_nav_items">
      <li> <a href="searchresults">PRE-OWNED</a></li>
      <li> <a href="about">ABOUT US</a></li>
      <li> <a href="contact">CONTACT US</a></li>
      <li> <a href="searchresults">FAVORITES</a></li>
    <li> <a href="/">HOME</a></li>
      <li class="loggedInUser"> <p> Welcome! {{ homepageusername }}</p></li>
    </ul>
  </nav>
</div>

<div class="nav2-container">
           
  <div class="wrapper"> </div>
  <div class="page-content">
    <div class="listingContainer col-lg-11">
      <div class="body-headers">
        <div class="palette-bg2 inventory-header">
          <div>
            <div class="clearfix col-lg-11 offset-lg-1">
              <div class="pull-left" style="padding-right: 8px; line-height: 28px;"><b>Search Options:</b></div>
              <div class="pull-left">
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle btn-default" data-toggle="dropdown"> Body Style <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" title="Body Style: Hatchback">Hatchback (4)</a></li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false" > Make <span class="caret"></span></button>
                  <ul class="dropdown-menu" >
                    <li><a href="#" >Chevrolet</a></li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" > Model <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="#">Accent)</a></li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm open" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="true"> Year <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="#" title="Year: 2016">2016 (1)</a></li>
                  </ul>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Price <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href= title="Price: Under $5,000">Under $5,000 (1)</a></li>
                  </ul>
                </div>
                <style>

                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Exterior Color <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="#" title="Exterior Color: Black">Black (2)</a></li>
                    <li><a href="#" title="Exterior Color: Blue">Blue (1)</a></li>
                    <li><a href="#" title="Exterior Color: Gray">Gray (5)</a></li>
                    <li><a href="#" title="Exterior Color: Silver">Silver (3)</a></li>
                    <li><a href="#" title="Exterior Color: White">White (7)</a></li>
                  </ul>
                </div>
                <style>

                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Miles <span class="caret"></span></button>
                  <ul class="dropdown-menu " role="menu">
                    <li><a href="#" title="Miles: Under 80,000">Under 80,000 (1)</a></li>
                    <li><a href="#" title="Miles: Under 100,000">Under 100,000 (6)</a></li>
                    <li><a href="#" title="Miles: Over 100,000">Over 100,000 (12)</a></li>
                  </ul>
                </div>
                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

                <style>
#verticalView .row.columns {
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5; 
  padding-top: 15px;
}
#verticalView .row.columns > *:first-child > *:first-child{
  margin-top: 0;
}

#verticalView .columns > [class*="col-"] {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  float: none;
}

  }
}
      </style>
              </div>
            </div>
          </div>
        </div>
        <div class="palette-bg2 inventory-header vehicles-found-header">
          <div class="clearfix">
            <div class="pull-left" style="padding: 4px 0; margin-right: 20px;">
              <div style="font: bold 16px/24px arial, sans-serif;"> <span class="accent-color1" style="font-size: 24px;"> 18</span> Vehicles
                Found </div>
            </div>
            <div class="pull-right clearfix">
              <div class="pull-left" style="padding: 4px 0; margin-right: 10px;">
                <form id="43c89010c84649819dee6ccc6698fcb1_form" method="post">
                  <input type="hidden" name="xControlId" value="43c89010c84649819dee6ccc6698fcb1">
                  <input type="hidden" name="xAction" value="SetSortBy">
                  <input type="hidden" id="43c89010c84649819dee6ccc6698fcb1_xSortBy" name="xSortBy">
                  <div class="inventory-page-size-links">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Sort By Options">
                      <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-expanded="false"> Sort By&nbsp; <span class="caret"></span></button>
                      <ul class="dropdown-menu " role="menu">
                        <li><a href="">Year </a></li>
                        <li class="active"><a href="">Make  &nbsp;<i class="fa fa-caret-up"></i></a></li>
                        <li><a href="">Model </a></li>
                        <li><a href="">Miles </a></li>
                        <li><a href="">Price </a></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
              <div class="pull-left" style="padding: 4px 0; margin-right: 10px;"> </div>
              <div class="pull-left" style="padding: 4px 4px; margin-right: 20px;">
                <form id="frmSwitchStyle" method="post">
                  <input type="hidden" name="xAction" value="SwitchStyles">
                  <input type="hidden" name="xStyle" value="">
                  <button id="Submit_Search" onclick="SwitchStyle();" class="btn btn-default" title="Search"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </form>
              </div>
            </div>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="col- dynamic-col offset-lg-1 col-lg-10">
		  {% for row in data %}
          <div class="row" id="row-68c2f8a3d7424a2b95f0fcd070b70ee7" >
            <div class="col-lg-12 col-md-12 col-sm-12 element-container-0 col-xl-11" style="">
              <div id="element-5964e00c42ad41d999f8219bad6ac96a" class="element-container element-type-inventorylisttitle  row" style="width: 100%; ">
                <div class="vehicle-label">
                  <div class="pull-left accent-color2 inventory-special-heading"></div>
					{for make in data %}
<div class="col-xl-11 offset-xl-1 offset-lg-0 col-lg-12" style="margin-top: -5px;"> <a class="accent-color1" href="vehiclelisting" title="NAME OF CAR OR TRUCK HERE" target="_self">{{make}}</a>
					</div>
					{% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row-00b17535e2a0411492ceff847790dcab" style="padding: 2px;">
            <div class="col-lg-3 col-md-3 col-sm-3 element-container-0 col-md-offset-1" style="Padding:0">
              <div id="element-4c005e21aad64538bb2b4b9bf2f0c905" class="element-container element-type-inventorylistthumbnail  row" style="width: 100%; ">
                <script>


    //$(function () {
    //    $('.lazy').lazy();
    //});

    //$('.palette-bg2').matchHeight();

    </script>
                <style>
    
    </style>
                <div class="palette-bg1 inventory-photo-column col-sm-12 col-xl-9 col-lg-11 col-md-10">
                  <div class="row">
                    <div class="col-xs-12 col-xl-10 col-lg-9" style="padding: 2px">
						{% for carPictureSource in row %}
                      <div class="image"> <a class="inventory-photo" href="#" target="_self"> <img style="width: 100%;" class="lazy" src={{carPictureSource}}></a></div>
						{% endfor %}
                    </div>
                  </div>
                  <div class="clearfix" style="padding: 4px 2px 2px 2px;">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 element-container-1 col-xl-2" style="">
              <div id="element-5b22c8bd34034b53bba32b5ab3f09a7c" class="element-container element-type-inventorylistdata  row" style="width: 100%; ">
                <div class="inventory-details">
                  <div>
                    <div style="float: left; border: 1px solid #333; width: 15px; height: 15px; margin: 1px 5px 1px 0px; background-color: #050505;"></div>
					  {% for color in data %}
                    <span class="Extcolor">{{color}}</span></div>
					{% endfor %}
                  
                    <div style="float: left; border: 1px solid #333; width: 15px; height: 15px; margin: 1px 5px 1px 0px; background-color: #050505;"></div>
                  {% for transmission in data %}
                  <div class="transmission">{{transmission}}</div>
					{% endfor %}
                  <div class="fuel">Gasoline</div>
					{% for mileage in row %}
                  <div><span class="mileage">{{mileage}}</span></div>
					{% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 element-container-2 col-xl-2" style="">
              <div id="element-5c876e74196d4907b94017613ea9d50a" class="element-container element-type-inventorylistdata  row" style="width: 100%; ">
                <div class="inventory-details">
			{% for vin in row %}
                  <div><span class="preamble">VIN:&nbsp; </span><span class="vin">{{vin}}</span></div>
			{% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 element-container-3" style="">
              <div id="element-f6b10cc8c4a649aeb9b186911c5b5cda" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; font-size: 1.5rem; margin: auto; "></div>
              <div id="element-12d96908286f470eb8568b750d196bbf" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; "></div>
              <div id="element-140bc7d454b148aabc4b983b07e1522f" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; "></div>
            </div>
            <div class="col-md-2 col-sm-2 element-container-4 col-lg-3" style="">
              <div id="element-59055de514294b8d911b9324c9426fa5" class="element-container element-type-inventorylistprice  row" style="width: 100%; ">
                <div class="col-md-12 inventory-price-column" style="margin: 4px;">
                  <div class="palette-bg1 inventory-price-container">
                    <div class="pricelabel col-lg-12">Internet Price</div>
					  {% for price in row %}
                    <div class="pricevalue1 accent-color1 col-lg-10" style="font-size: 20px;"><b><span class="currency-symbol">$</span>{{price}}</b></div>
					  {% endfor %}
                    <div style="padding-top: 5px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		{% endfor %}
      </div>
    </div>
    &nbsp;</div>
<footer class="text-left text-lg-start fixed-bottom" id="footer-style">
  <div class="container p-4" id="footer-container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 col-xl-4 col-lg-4" id="footer-text">
        <h5 class="text-uppercase" id="department-title" style="font-size: 26px;font-weight: bold;line-height: 42px;">Department Hours</h5>
        <p style="font-size: 12px;" id="address-text"> 5500 University Pkwy, San Bernardino,CA 92407 </p>
        <p style="font-size: 12px;" id="address-text"> Sales: 9am-9pm Monday-Friday </p>
        <p style="font-size: 12px;" id="address-text"> Service: 7am-5pm Closed Sunday </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color: #F2F2F2;">
        <h5 class="text-uppercase3" id="links-title">Site Map</h5>
        <ul class="list-unstyled mb-0" id="links">
         <li class="col-xl-7">
                    <a href="about" style="color: #F2F2F2;">About Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="contact" style="color: #F2F2F2;">Contact Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="https://www.google.com/maps/place/California+State+University,+San+Bernardino/@34.1813628,-117.3253762,17z/data=!3m1!4b1!4m5!3m4!1s0x80c3519b1645c8d7:0xfac142d2f0f47922!8m2!3d34.1813584!4d-117.3231875"style="color: #F2F2F2;">Location</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="searchresults"style="color: #F2F2F2;">Favorites</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 col-lg-2" style="color: #F2F2F2;">
        <h5 class="text-uppercase"  id="quick-links-title">Quick Links</h5>
        <ul class="list-unstyled mb-0" id="quick-links">
           <li class="col-xl-7">
                  <ul class="list-unstyled mb-0" id="quick-links">
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!" style="color: #F2F2F2;">All Cars</a>
                  </li>
                  <li class="col-xl-10 col-lg-12">
                    <a href="#!" style="color: #F2F2F2;">Schedule Service</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Coupons</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Deals</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h5 class="text-uppercase1"  id="quick-links-title2">FOLLOW US</h5>
        <div class="sociallogo">
          <a href="https://www.classtools.net/FB/1744-VU8bbC">
          		<input type="image" href="facebook" src="../static/css/images/face_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/twitter_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/ig_logo.svg" />
			</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/you_logo.svg" />
			</a>
        </div>
        &nbsp;</div>
    </div>
  </div>
  </div>
</footer>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->

</body>
</html>
