﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>

 <link rel="stylesheet" href="homepage_style2.css" />
	<link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="static/css/SearchResults.css" rel="stylesheet" type="text/css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>
                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>
                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>
                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->
    <!--
    <div class="logoimage">
        <img src="images/button_header.png"
    </div>
    -->
 






<div class="top-header">
  <div class="mx-auto" > <img src="static/css/images/top_header.png" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" >
     <a href="/">
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "homepage" >NULLLLLL</button>
	  </a>
    <img src="static/css/images/button_header.png" alt="Responsive image" class="img-fluid" ></div>
</div>
<div class="wrapper1">
  <nav>
    <ul class="top_nav_items">
      <li> <a href="searchresults">PRE-OWNED</a></li>
      <li> <a href="about">ABOUT US</a></li>
      <li> <a href="contact">CONTACT US</a></li>
      <li> <a href="favorites">FAVORITES</a></li>
    <li> <a href="/">HOME</a></li>
      <li class="loggedInUser"> <p> Welcome! {{ homepageusername }}</p></li>
    </ul>
  </nav>
</div>

<div class="nav2-container">
           
  <div class="wrapper"> </div>
  <div class="page-content">
    <div class="dropdown", name = dropdown1, id = dropdown1, class = dropdown2>
  <button onclick="myFunction()" class="dropbtn">Make</button>
  <div id="myDropdown" class="dropdown-content">
	  <form action="?" method="post">
    <a href="ChevroletCars", name = "Chevrolet">Chevrolet</a>
    <a href="FordCars", name = "Ford", id = "Ford">Ford</a>
    <a href="HondaCars", name = "Honda", id = "Honda">Honda</a>
    <a href="KiaCars", name = "Kia", id = "Kia">Kia</a>
    <a href="NissanCars", name = Nissa>Nissan</a>
    <a href="ToyotaCars">Toyota</a>
    <a href="VolkswagonCars">Volkswagon</a>
	</form>
	  
	   <div class="dropdown", name = dropdown2, id = dropdown2, class = dropdown2>
  <button onclick="myFunction()" class="dropbtn">Price</button>
  <div id="myDropdown" class="dropdown-content">
	  <form action="?" method="post">
    <a href="Under $25,000">Under $25,000</a>
    <a href="Under $20,000">Under $20,000</a>
    <a href="Under $15,000">Under $15,000</a>
	</form>
	  
	  <div class="dropdown", name = dropdown3, id = dropdown3, class = dropdown3>
  <button onclick="myFunction()" class="dropbtn">Color</button>
  <div id="myDropdown" class="dropdown-content">
	  <form action="?" method="post">
    <a href="WhiteCars">White</a>
    <a href="RedCars">Red</a>
    <a href="BlackCars">Black</a>
<a href="SilverCars">Silver
	</form>
	   <table name = resultsTable, id = resultstable style="width:100%">
		  <tr class = "tableLabel"><td>Make</td><td>Model</td><td>Year</td><td>Color</td><td>Mileage</td><td>Price</td><td>Transmission</td><td>Body Style</td></tr>
		  {% for row in data %}
  <tr>
	  {% for d in row %}
    <td>{{d}}</td>
	  {% endfor %}
  </tr>
		  {% endfor %}
</table>     
  </div>
</div>
	
        
   
	
	    
<footer class="text-left text-lg-start fixed-bottom" id="footer-style">
  <div class="container p-4" id="footer-container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 col-xl-4 col-lg-4" id="footer-text">
        <h5 class="text-uppercase" id="department-title" style="font-size: 26px;font-weight: bold;line-height: 42px;">Department Hours</h5>
        <p style="font-size: 12px;" id="address-text"> 5500 University Pkwy, San Bernardino,CA 92407 </p>
        <p style="font-size: 12px;" id="address-text"> Sales: 9am-9pm Monday-Friday </p>
        <p style="font-size: 12px;" id="address-text"> Service: 7am-5pm Closed Sunday </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color: #F2F2F2;">
        <h5 class="text-uppercase3" id="links-title">Site Map</h5>
        <ul class="list-unstyled mb-0" id="links">
         <li class="col-xl-7">
                    <a href="about" style="color: #F2F2F2;">About Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="contact" style="color: #F2F2F2;">Contact Us</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="https://www.google.com/maps/place/California+State+University,+San+Bernardino/@34.1813628,-117.3253762,17z/data=!3m1!4b1!4m5!3m4!1s0x80c3519b1645c8d7:0xfac142d2f0f47922!8m2!3d34.1813584!4d-117.3231875"style="color: #F2F2F2;">Location</a>
                  </li>
                  <li class="col-xl-7">
                    <a href="searchresults"style="color: #F2F2F2;">Favorites</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 col-lg-2" style="color: #F2F2F2;">
        <h5 class="text-uppercase"  id="quick-links-title">Quick Links</h5>
        <ul class="list-unstyled mb-0" id="quick-links">
           <li class="col-xl-7">
                  <ul class="list-unstyled mb-0" id="quick-links">
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!" style="color: #F2F2F2;">All Cars</a>
                  </li>
                  <li class="col-xl-10 col-lg-12">
                    <a href="#!" style="color: #F2F2F2;">Schedule Service</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Coupons</a>
                  </li>
                  <li class="col-xl-10 col-lg-10">
                    <a href="#!"style="color: #F2F2F2;">Deals</a>
                  </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h5 class="text-uppercase1"  id="quick-links-title2">FOLLOW US</h5>
        <div class="sociallogo">
          <a href="https://www.classtools.net/FB/1744-VU8bbC">
          		<input type="image" href="facebook" src="../static/css/images/face_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/twitter_logo.svg" />
		</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/ig_logo.svg" />
			</a>
		<a href="https://www.classtools.net/FB/1856-DSRJjn">
          		<input type="image" src="../static/css/images/you_logo.svg" />
			</a>
        </div>
        &nbsp;</div>
    </div>
  </div>
  </div>
</footer>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>
