<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
			function showMessage(){
				alert("Check your email to complete the sign in process.");
			}
		</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
	<link href=""/css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
<style>
  
</style>
<link href="SignUp.css" rel="stylesheet" type="text/css">
<link href="homepage_style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="top-header">
  <div class="mx-auto" > <img src="images/top_header.png" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" >
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "#" >NULLLLLL</button>
    <img src="images/button_header.png" alt="Responsive image" class="img-fluid" ></div>
</div>
<div class="wrapper1">
  <nav>
    <ul class="top_nav_items">
      <li> <a href="#">PRE-OWNED</a></li>
      <li> <a href="about">ABOUT US</a></li>
      <li> <a href="contact">CONTACT US</a></li>
      <li> <a href="#">FAVORITES</a></li>
      <li> <a href="login">LOGIN</a></li>
      <li> <a href="signup">SIGN UP</a></li>
    </ul>
  </nav>
</div>

<div class="container23">
  <div>
        <div class="containerItems"><span style="position: relative; font-size: 22px">Sign Up</span>
            <p></p>
            <input type="text" placeholder="Enter Email" name="email" required>
            <input type="password" placeholder="Enter Password" name="psw" required>
<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <div class="clearfix">
              <button type="submit" class="signupbtn" onClick= 'showMessage()' >Sign Up</button>
            </div>
            &nbsp;</div>
        &nbsp;</div>
</div>
<footer class="text-left text-lg-start fixed-bottom" id="footer-style">
  <div class="container p-4" id="footer-container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 col-xl-4 col-lg-4" id="footer-text">
        <h5 class="text-uppercase" id="department-title" style="font-size: 26px;font-weight: bold;line-height: 42px;">Department Hours</h5>
        <p style="font-size: 12px;" id="address-text"> 5500 University Pkwy, San Bernardino,CA 92407 </p>
        <p style="font-size: 12px;" id="address-text"> Sales: 9am-9pm Monday-Friday </p>
        <p style="font-size: 12px;" id="address-text"> Service: 7am-5pm Closed Sunday </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="color: #F2F2F2;">
        <h5 class="text-uppercase3" id="links-title" style="font-size: 1.3rem; margin: auto;">Site Map</h5>
        <ul class="list-unstyled mb-0" id="links">
          <li class="col-xl-7"> <a href="#!" style="color: #F2F2F2;">About Us</a></li>
          <li class="col-xl-7"> <a href="#!" style="color: #F2F2F2;">Contact Us</a></li>
          <li class="col-xl-7"> <a href="#!"style="color: #F2F2F2;">Location</a></li>
          <li class="col-xl-7"> <a href="#!"style="color: #F2F2F2;">Favorites</a></li>
        </ul>
      </div>
      <div class="col-md-6 mb-4 mb-md-0 col-lg-2" style="color: #F2F2F2;">
        <h5 class="text-uppercase"  id="quick-links-title">Quick Links</h5>
        <ul class="list-unstyled mb-0" id="quick-links">
          <li class="col-xl-10 col-lg-10"> <a href="#!" style="color: #F2F2F2;">All Cars</a></li>
          <li class="col-xl-10 col-lg-12"> <a href="#!" style="color: #F2F2F2;">Schedule Service</a></li>
          <li class="col-xl-10 col-lg-10"> <a href="#!"style="color: #F2F2F2;">Coupons</a></li>
          <li class="col-xl-10 col-lg-10"> <a href="#!"style="color: #F2F2F2;">Deals</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h5 class="text-uppercase1"  id="quick-links-title2">FOLLOW US</h5>
        <div class="sociallogo">
          <input type="image" src="images/face_logo.svg" />
          <input type="image" src="images/twitter_logo.svg" />
          <input type="image" src="images/ig_logo.svg" />
          <input type="image" src="images/you_logo.svg" />
        </div>
        &nbsp;</div>
    </div>
  </div>
  </div>
</footer>
</form>
</div>



</body>
</html>