﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>
    
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="VehicleListing.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>
                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>
                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>
                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->

    <div class="top-header">
          <div class="mx-auto" > <img src="images/top_header.png" class="img-fluid" alt="Responsive image">      </div>
                
              
</div>
    <!--
    <div class="logoimage">
        <img src="images/button_header.png"
    </div>
    -->
 



<div class="TopLemonsandLimesHeader">
  <div  class="LemonsandLimesHeader" > 
    <button type="button" class="homebut" data-toggle="modal" data-target="#myModal" href = "#" >NULLLLLL</button>
    <img src="images/button_header.png" alt="Responsive image" class="img-fluid" >  </div>
</div>
<div class="wrapper1">
<nav>
    <ul class="top_nav_items">
        <li> <a href="#">PRE-OWNED</a></li>
        <li> <a href="about">ABOUT US</a></li>
        <li> <a href="contact">CONTACT US</a></li>
        <li> <a href="#">FAVORITES</a></li>
        <li> <a href="login">LOGIN</a></li>
        <li> <a href="signup">SIGN UP</a></li>
      </ul>
    </nav>
</div>
<div class="nav2-container">
           
  <div class="wrapper">
<nav> </nav>
</div>
  <div class="listingContainer">
    <div class="col- dynamic-col">
      <div class="clearfix inventory-panel   palette-bg2 vehicle  lot-00" data-id="dab82f5320af7c46bc74c9a7e7c80799" data-displaytitle="2014 Chevrolet Silverado 1500 LT Truck" data-displayprice="$" data-displaymake="Chevrolet" data-displaytrim="LT" data-displaymodel="Silverado 1500" data-displayyear="2014" data-displayengine="EcoTec3 5.3L Flex Fuel V8 355hp 383ft. lbs." data-displaytransmission="Automatic" data-displaymileage="102286" data-displayextcolor="Black" data-displayintcolor="Black" data-displaydrivetrain="RWD" data-displayfuel="Flex-fuel" data-displayphoto="https://automanager.blob.core.windows.net/wmphotos/027730/dab82f5320af7c46bc74c9a7e7c80799/609234e67a_120_overlay.jpg">
        <div class="row" id="row-68c2f8a3d7424a2b95f0fcd070b70ee7" >
          <div class="col-lg-12 col-md-12 col-sm-12 element-container-0 col-xl-11" style="">
            <div id="element-5964e00c42ad41d999f8219bad6ac96a" class="element-container element-type-inventorylisttitle  row" style="width: 100%; ">
              <div class="vehicle-label">
                <div class="pull-left accent-color2 inventory-special-heading"></div>
                <div style="margin-top: -5px;"> <a class="accent-color1" href="https://www.advantageautocenter.com/vehicle-details/2014-chevrolet-silverado-1500-lt-truck-dab82f5320af7c46bc74c9a7e7c80799" title="2014 Chevrolet Silverado 1500 LT Truck" target="_self">2014 Chevrolet Silverado 1500 LT Truck</a> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="row-00b17535e2a0411492ceff847790dcab" style="padding: 2px;">
          <div class="col-lg-3 col-md-3 col-sm-3 element-container-0" style="Padding:0">
            <div id="element-4c005e21aad64538bb2b4b9bf2f0c905" class="element-container element-type-inventorylistthumbnail  row" style="width: 100%; ">
              <script>


    //$(function () {
    //    $('.lazy').lazy();
    //});

    //$('.palette-bg2').matchHeight();

    </script>
              <style>
    
    </style>
              <div class="palette-bg1 inventory-photo-column col-sm-12 col-xl-9">
                <div class="row">
                  <div class="col-xs-12 col-xl-10" style="padding: 2px">
                    <div class="image"> <a class="inventory-photo" href="https://www.advantageautocenter.com/vehicle-details/2014-chevrolet-silverado-1500-lt-truck-dab82f5320af7c46bc74c9a7e7c80799" title="2014 Chevrolet Silverado 1500 LT  " target="_self"> <img style="width: 100%;" class="lazy" src=https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/2002-2006_Mercedes-Benz_E-Class_%28W211%29_Elegance_sedan_01.jpg/280px-2002-2006_Mercedes-Benz_E-Class_%28W211%29_Elegance_sedan_01.jpg > </a> </div>
                  </div>
                </div>
                <div class="clearfix" style="padding: 4px 2px 2px 2px;">
                  <div class="pull-left" style="margin-right: 15px;"> <i class="fa fa-camera accent-color1"></i>&nbsp; <a class="photo-button" data-vehicle="dab82f5320af7c46bc74c9a7e7c80799" data-useoverlay="True" data-overlayvalue=""> View Photos </a> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 element-container-1 col-xl-2" style="">
            <div id="element-5b22c8bd34034b53bba32b5ab3f09a7c" class="element-container element-type-inventorylistdata  row" style="width: 100%; ">
              <div class="inventory-details">
                <div>
                  <div style="float: left; border: 1px solid #333; width: 15px; height: 15px; margin: 1px 5px 1px 0px; background-color: #050505;"></div>
                  <span class="Extcolor">Black</span></div>
                <div>
                  <div style="float: left; border: 1px solid #333; width: 15px; height: 15px; margin: 1px 5px 1px 0px; background-color: #050505;"></div>
                  <span class="Intcolor">Jet Black</span></div>
                <div class="transmission">Automatic</div>
                <div class="fuel">Flex-fuel</div>
                <div class="engine">EcoTec3 5.3L Flex Fuel V8 355hp 383ft. lbs.</div>
                <div><span class="mileage">102,286 miles</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 element-container-2" style="">
            <div id="element-5c876e74196d4907b94017613ea9d50a" class="element-container element-type-inventorylistdata  row" style="width: 100%; ">
              <div class="inventory-details">
                <div><span class="preamble">VIN:&nbsp; </span><span class="vin">3GCPCREC8EG175841</span></div>
                <div><span class="preamble">Stock&nbsp;#:&nbsp; </span><span class="stocknumber">175841</span></div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 element-container-3" style="">
            <div id="element-f6b10cc8c4a649aeb9b186911c5b5cda" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; "></div>
            <div id="element-12d96908286f470eb8568b750d196bbf" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; "></div>
            <div id="element-140bc7d454b148aabc4b983b07e1522f" class="element-container element-type-inventorylistintegrations  row" style="width: 100%; "></div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 element-container-4" style="">
            <div id="element-59055de514294b8d911b9324c9426fa5" class="element-container element-type-inventorylistprice  row" style="width: 100%; ">
              <div class="col-md-12 inventory-price-column" style="margin: 4px;">
                <div class="palette-bg1 inventory-price-container">
                  <div class="pricelabel">Internet Price</div>
                  <div class="pricevalue1 accent-color1" style="font-size: 20px;"><b><span class="currency-symbol">$</span>30,995</b></div>
                  <div style="padding-top: 5px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav3-container">
    <div class="wrapper">
            <nav>
                <ul class="car_nav_items">
                    <li>
                        <a href="#">Honda Accord</a>
                    </li>

                    <li>
                        <a href="#">Mercedes</a>
                    </li>

                    <li>
                        <a href="#">Nissan</a>
                    </li>

                    <li>
                        <a href="#">Porsche</a>
                    </li>

                    <li>
                        <a href="#">Land Rover</a>
                    </li>

                    <li>
                        <a href="#">Escalade</a>
                    </li>
                </ul>
            </nav>
  </div>
</div>

    <div class="botimage">
        <img src="images/bot_header.svg" alt="" />
    </div>

    <div class="bot-container">
        <div class="wrapper">
            <header>
                <div class="bot-header">


                    <div class="bot-header_toptext">
                        <li>
                          <p> DEPARTMENT HOURS </p> 
                        </li>
<li>
            <p> INVENTORY </p>
                      </li>
                      <li>
                        <p> QUICK LINKS </p>
                      </li>
                      <li>
                        <p class="col-xl-10"> FOLLOW US </p>
                      </li>
</div>

                    <div class="bot-header_bottext">
                      <p> 5500 University Pkwy, San Bernardino, CA 92407</p>
                      <p> Get Directions</p>
                      <p>Sales: 9am-9pm Monday-Friday</p>
                      <p class="lastline">Service: 7am-5pm Closed Sunday</p>
                    </div>

                    <ul class="bot-header-links">

                        <li>
                            <a href="#" class="inventory">Honda Accord</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Mercedes</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Nissan</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Porsche</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Land Rover</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">All Cars</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Schedule Service</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Coupons</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Deals</a>
                        </li>

                    </ul>

                    <div class="sociallogo">
                        <input type="image" src="images/face_logo.svg" />
                        <input type="image" src="images/twitter_logo.svg" />
                        <input type="image" src="images/ig_logo.svg" />
                        <input type="image" src="images/you_logo.svg" />
                    </div>
                </div>
            </header>
        </div>
    </div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.3.1.js"></script>
</body>
</html>